In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Orders 
df_ords = pd.read_csv(r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis/02 Data/Original Data/orders.csv', index_col = False)

In [3]:
#Products 
df_prods = pd.read_csv(r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis/02 Data/Original Data/products.csv', index_col = False)

In [4]:
#inputting path 
path=r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis'

# 1 Consistency Checks over df_prods

In [5]:
# Create a dataframe

df_test=pd.DataFrame()

In [6]:
# Create a mixed type column 
df_test['mix']=['a','b',1, True]

In [7]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [8]:
df_test['mix'] = df_test['mix'].astype('str')

In [9]:
# Finding missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [10]:
# Subset of missing values
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [11]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [12]:
df_prods.shape

(49693, 5)

In [13]:
# Addressing Missing Values-creating new dataframe
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [14]:
df_prods_clean.shape

(49677, 5)

In [15]:
# Dropping missing values
df_prods.dropna(inplace=True)

In [16]:
# Finding Duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [17]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [18]:
df_prods_clean.shape

(49677, 5)

In [19]:
# New dataframe that doesn't include duplicates
df_prods_clean_no_dups=df_prods_clean.drop_duplicates()

In [20]:
df_prods_clean_no_dups.shape

(49672, 5)

In [21]:
products_checked=df_prods_clean_no_dups.shape

In [22]:
products_checked

(49672, 5)

# 2. df_ords Consistency Checks

In [23]:
# Renaming order_dow to orders_day_of_week
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [24]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,985475.000000
mean,1.710968e+06,3.156404e+04,1.717418e+01,2.778637e+00,1.345229e+01,11.102506
std,9.875774e+05,1.816695e+04,1.771094e+01,2.047751e+00,4.219144e+00,9.186663
min,6.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,8.554670e+05,1.589600e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000
50%,1.710657e+06,3.160800e+04,1.100000e+01,3.000000e+00,1.300000e+01,7.000000
75%,2.566970e+06,4.729700e+04,2.300000e+01,5.000000e+00,1.600000e+01,15.000000
max,3.421083e+06,6.310000e+04,1.000000e+02,6.000000e+00,2.300000e+01,30.000000

In [35]:
df_ords.shape

(1048575, 7)

In [25]:
# Changing scientific notation to numerals
pd.options.display.float_format = '{:.4}'.format

In [26]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,1.049e+06,1.049e+06,1.049e+06,1.049e+06,1.049e+06,9.855e+05
mean,1.711e+06,3.156e+04,17.17,2.779,13.45,11.1
std,9.876e+05,1.817e+04,17.71,2.048,4.219,9.187
min,6.0,1.0,1.0,0.0,0.0,0.0
25%,8.555e+05,1.59e+04,5.0,1.0,10.0,4.0
50%,1.711e+06,3.161e+04,11.0,3.0,13.0,7.0
75%,2.567e+06,4.73e+04,23.0,5.0,16.0,15.0
max,3.421e+06,6.31e+04,100.0,6.0,23.0,30.0

The "orders_day_of_week" column has a max of 6, instead of 7. There are 7 days in a week, so I need to look into this closer. 

The "order_hour_of_day" column also needs to be looked at because it has a max of 23 instead of 24.

# 3. Checking for mixed-type data

In [27]:
# Checking for mixed-type data

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_37521/3794478356.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_37521/3794478356.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_37521/3794478356.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_37521/3794478356.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_37521/3794478356.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_37521/3794478356.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/ct/3q0tp4n574b6w7_tt9fvsllh0000gp/T/ipykernel_37521/3794478356.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

# 4. Changing mixed values

In [28]:
df_ords['mix'] = df_ords['mix'].astype('str')

KeyError: 'mix'

# 5. Checking for missing values

In [29]:
# Checking for missing values 
df_ords.isnull().sum()

order_id                      0
user_id                       0
eval_set                      0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_prior_order    63100
dtype: int64

#### days_since_prior_order-missing values: 63,100

In [30]:
df_ords_nan=df_ords[df_ords['days_since_prior_order'].isnull()==True]

In [31]:
df_ords_nan

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
1048523,1591766,63096,prior,1,0,20,NaN
1048530,3391694,63097,prior,1,2,14,NaN
1048541,1270497,63098,prior,1,3,16,NaN
1048556,1877750,63099,prior,1,0,10,NaN
1048570,1805240,63100,prior,1,0,11,NaN

There are 63,100 missing values for days_since_prior_order. This could be because the customer only made 1 instacart order, therefore there would be no days since prior order.

In [32]:
# Checking value count of 'order_number' to see if data aligns with missing data under days_since_prior_order. 
df_ords_nan['order_number'].value_counts(dropna = False)

order_number
1    63100
Name: count, dtype: int64

# 6. Addressing the missing values

I would not change the missing values because the information is still relevant to analysis. The customers that had only 1 order would not have data for days_since_prior_order. It's also such a larger number of missing data, that I would not feel comfortable inputing the mean or median.

# 7. Duplicate Values

In [33]:
#Checking for duplicates
df_ords_dups = df_ords[df_ords.duplicated()]

In [34]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

There are no duplicates

# 8. Addressing duplicate values

There are no duplicate values, so I did not need to delete any data.

In [ ]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [ ]:
df_prods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_wrangled.csv'))