In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# Set path
path=r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis'

In [3]:
ords = pd.read_csv(r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis/02 Data/Original Data/orders.csv', index_col = None)

In [4]:
ords_prods = pd.read_csv(r'/Users/kristenlehtinen/Downloads/orders_products_prior.csv', index_col = None)

In [5]:
ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [6]:
ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [7]:
ords.rename(columns = {'order_dow':'orders_day_of_week', 'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [8]:
ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order'],
      dtype='object')

In [38]:
ords_prods.shape

(32434489, 4)

In [39]:
# Check for missing values
missing_values = ords_prods.isnull().sum()

In [40]:
print(missing_values)

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [46]:
duplicate_rows = ords_prods[ords_prods.duplicated()]

In [47]:
print(duplicate_rows)

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [42]:
ords_prods.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [10]:
ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   order_id                1048575 non-null  int64
 1   user_id                 1048575 non-null  int64
 2   eval_set                1048575 non-null  object
 3   order_number            1048575 non-null  int64
 4   orders_day_of_week      1048575 non-null  int64
 5   order_time_of_day       1048575 non-null  int64
 6   days_since_prior_order  985475 non-null   float64
dtypes: float64(1), int64(5), object(1)
memory usage: 56.0+ MB

In [11]:
# Change types for ords data set

ords['order_id']=ords['order_id'].astype('int32')
ords['user_id'] = ords['user_id'].astype('int32')
ords['order_number']=ords['order_number'].astype('int8')
ords['orders_day_of_week']=ords['orders_day_of_week'].astype('int8')
ords['order_time_of_day']=ords['order_time_of_day'].astype('int8')
ords['days_since_prior_order']=ords['days_since_prior_order'].astype('float16')

In [12]:
# Check output to see memory usage

ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   order_id                1048575 non-null  int32
 1   user_id                 1048575 non-null  int32
 2   eval_set                1048575 non-null  object
 3   order_number            1048575 non-null  int8
 4   orders_day_of_week      1048575 non-null  int8
 5   order_time_of_day       1048575 non-null  int8
 6   days_since_prior_order  985475 non-null   float16
dtypes: float16(1), int32(2), int8(3), object(1)
memory usage: 21.0+ MB

In [13]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [14]:
# Change types for ords prods data set 

ords_prods['product_id'] =ords_prods['product_id'].astype('int32')
ords_prods['reordered']=ords_prods['reordered'].astype('int8')
ords_prods['add_to_cart_order']=ords_prods['add_to_cart_order'].astype('int32')
ords_prods['order_id']=ords_prods['order_id'].astype('int32')

In [15]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [16]:
# Attemp a merge

ords_prods_merged = ords.merge(ords_prods, on = ['order_id'], how = 'outer', indicator = True)

In [17]:
ords_prods_merged['_merge'].value_counts(dropna = False)

_merge
right_only    22507018
both           9927471
left_only        63100
Name: count, dtype: int64

In [18]:
ords_prods.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
ords_prods.shape

(32434489, 4)

In [20]:
ords.shape

(1048575, 7)

In [21]:
df_merged_large = ords.merge(ords_prods, on = 'order_id', indicator = True)

In [22]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [23]:
df_merged_large['_merge'].value_counts()

_merge
both          9927471
left_only           0
right_only          0
Name: count, dtype: int64

In [24]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [25]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# Task 4.6

# 3. Importing orders_products_combined.csv

In [26]:
orders_products_combined = pd.read_csv(r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.csv', index_col = None)

# 4. Checking shape of orders_products_combined

In [27]:
orders_products_combined.shape

(9927471, 12)

# 5. Combining orders_products_combined with products data set

In [28]:
# Importing clean products data 
df_prods = pd.read_csv(r'/Users/kristenlehtinen/Documents/Careerfoundry/Instacart Basket Analysis/02 Data/Prepared Data/products_wrangled.csv', index_col = None)

In [29]:
df_prods.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [30]:
orders_products_combined.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'eval_set', 'order_number',
       'orders_day_of_week', 'order_time_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [31]:
# Merge df_prods and orders_products_combined using product_id as a key 

df_merge = df_prods.merge(orders_products_combined, on = ['product_id'])

In [32]:
df_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,1813452,764,prior,3,4,17,9.0,11,1,both

In [33]:
df_merge.shape

(9918662, 17)

# 6. Merge Flag

In [34]:
df_merge['_merge'].value_counts()

_merge
both    9918662
Name: count, dtype: int64

# 7. Exporting data

In [35]:
df_merge.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_merge.csv'))

In [36]:
df_merge.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_merge.pkl'))